.sp-wrapper .fa {
	padding: 5px;
	margin: 1px;
}

.sp-wrapper .fa-arrow-left {
	transform: rotate(30deg);
}
.sp-menu .hover:hover:not(.active):not(.fa-th-large):not(.disabled){
	border-radius: 2px;
	/*                background-color: lightgray;*/
	box-shadow: 1px 1px 1px;
	cursor: pointer;
}
.sp-menu .disabled {
	color:lightgray;
}
.sp-wrapper li a {
	padding: 3px 15px;
}

.shape-menu {
	width: 25px;
	height: 25px;
	margin: 2px;
	padding: 3px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}
.shape-menu .fa:hover{

}
.sp-menu .shape-menu:hover{
	border-left: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-radius: 2px;
	/*                background-color: lightgray;*/
	box-shadow: 1px 1px 1px;
}
.sp-wrapper .active{
	background-color: darkgray;
	color: white;
	border-radius: 2px;
	
/*
	border-bottom: 1px solid #eae8e8;
	border-right: 1px solid #eae8e8;
	border-top: 1px solid #a9a7a7;
	border-left: 1px solid #a9a7a7;
	border-radius: 2px;
*/
}
.sp-wrapper .panel-body{
	padding: 0px;
}
.sp-wrapper .canvas-container{
	width: 100%;
	height: 100%;
}
.sp-menu .vertical-divider{
	border-right:1px dotted lightgrey;
	margin: 0px 2px;
}

.shape-menu {
	text-align: center;
	vertical-align: middle;
}
.shapes-icon {
	display: inline-block;
	background: url('img/shapes.png') no-repeat;
	background-position: center;
	background-size: 15px;
	height: 15px;
	width: 15px;
}

.shape-menu .sp-eq-trapezoid {
	display: inline-block;
	background: url('img/trapezoid2.png') no-repeat;
	
/*
	margin: 3px;
	display: inline-block;
	border-bottom: 10px solid black;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 15px;
*/
}
.shape-menu .sp-trapezoid {
	display: inline-block;
	background: url('img/trapezoid1.png') no-repeat;
	
/*
	margin: 3px;
	display: inline-block;
	border-bottom: 10px solid black;
	border-left: 5px solid transparent;
					border-right: 7px solid transparent;
	height: 0;
	width: 15px;
*/
}
.shape-menu .sp-parallelogram {
	display: inline-block;
	background: url('img/parallelogram.png') no-repeat;
	
/*
	margin: 3px;
	display: inline-block;
	width: 15px;
	height: 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: black;
*/
}
.shape-menu .sp-rectangle {
	display: inline-block;
	background: url('img/rectangle.png') no-repeat;
	
/*
	margin: 3px;
	height: 10px;
	width: 15px;
	display: inline-block;
	background-color: black;
*/
}

.shape-menu .sp-line {
	display: inline-block;
	background: url('img/line.png') no-repeat;
	
}
.shape-menu .sp-circle {
	display: inline-block;
	background: url('img/circle.png') no-repeat;
	
/*
	display: inline-block;
	width: 15px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
*/

}
.shape-menu .sp-pentagon {
	display: inline-block;
	background: url('img/pentagon.png') no-repeat;
	
/*
	position: relative;
	width: 15px;
	border-width: 6px 2px 0;
	border-style: solid;
	border-color: green transparent;
*/
}

.dropdown-menu.min-dropdown-width{
	min-width: 125px;
}

.min-dropdown-width .divider{
	margin: 5px 0;
}

.shape-menu .sp-octagon {
	display: inline-block;
	background: url('img/octagon.png') no-repeat;
	
}
.shape-menu .sp-hexagon {
	display: inline-block;
	background: url('img/hexagon.png') no-repeat;
	
}
.shape-menu .sp-decagon {
	display: inline-block;
	background: url('img/decagon.png') no-repeat;
	
}
.shape-menu .sp-ray {
	display: inline-block;
	background: url('img/arrow.png') no-repeat;
	
}

.shape-menu .sp-double-ray {
	display: inline-block;
	background: url('img/double-ray.png') no-repeat;
	
}
.shape-menu .icon-size {
	background-position: center;
	background-size: 18px;
	width: 18px;
	height: 18px;
}
.shape-menu .sp-eq-triangle {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 15px solid black;
}
.shape-menu .sp-scelene {
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 13px solid black;
}
.shape-menu .sp-right-triangle {
	display:inline-block;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-bottom: 15px solid black;
}
/*
.shape-menu .sp-pentagon::before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: 0px;
	left: -8px;
	border-width: 0 8px 6px;
	border-style: solid;
	border-color: transparent transparent red;
}*/
